<a href="https://colab.research.google.com/github/pouyapanahandeh/python3-ref/blob/master/python_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Numbers**

In [0]:
# print the number
print(15)

# Basic Arithmetic
print(5 + 5)
x = 10 + 15
print(x)

n = 1
p = 1
pn = n + p
print(pn)

# multiplication
print(5 * 5)

# float devision
print(2/3)

# integer devision
print(2 // 3)

# module operator, shows the quotient
print(20 % 3)

# power function
print(2 ** 4)

15
10
25
2
25
0.6666666666666666
0
2
16

**Python strings**

In [0]:
# Triple quote string, useful for printing multiple line
print('''This is the multiple line printer''')

# double quoted string
print("This is a string")

# single quoted string, same as the double quoted
print('This is a string')

h = "message one"
o = " is delivered"
message = h + o
print(message)

This is the multiple line printer
This is a string
This is a string
message one is delivered

**Python Logic**

In [0]:
# same as OR operator,(0 or 1 => 1) it will print true  ||
print(True or False)

# same as and operation,(0 and 1 => 0) it will print false &&
print(True and False)

# 'Not' operator
print(not False)

# we have is, to check if the two object is same or not
print(True is not False)

# the following condition will print True or False
print(3 > 2)  # true
print(3 == 2) # false

# compare string
string1 = "Hello Worlds!"
string2 = string1

print(string1 == string2)
print(string1 is string2)
print(2 < 3 is False and string1 is string2)
print((2 < 3) is (True and string1 is string2))

True
False
True
True
True
False
True
True
False
True

**Python if-else**

In [0]:
a = 22
b = 24 
if b > a:
  print("B is bigger than A")

if a > b:
  print("A is bigger than B")
else:
  print("B is bigger than A")

l = 33
p = 22
c = 33

if l == c:
  print("L and C are equal.")
elif l > c:
  print("L is bigger than C.")
else:
  print("There is something wrong.")

EXPRESSION = True
ELIF_EXPRESSION = True

if EXPRESSION:
  print("Execute Expression.")
elif ELIF_EXPRESSION:
  print("Execute ELIF_EXPRESSION")
else:
  print("There is nothing to print")

# short version of if condition
if l > p: print("L is bigger than C")

# Three result of short hand loop
print("L") if l > p else print("=") if l == p else print("L is smaller than P")
Print("L") if l > c else print("=") if l == c else print("L is smaller than C")
print("P") if p > b else print("=") if p == b else print("P is smaller than B")

B is bigger than A
B is bigger than A
L and C are equal.
Execute Expression.
L is bigger than C
L
=
P is smaller than B

**Python Loop**

In [1]:
import time

# for loop
# 'for' iterate an iteratable object, for example range
# if it's not define range start from 0 and end at n - 1
sum = 0

for i in range(5):
  # to print element in one line instead of multiple line we can use the following way to print element in one line
  print(i , end=" ")
  sum += i
  print(sum)

for i in range(10):
  print("-", end=" ")
  # time function, to rest for 1 second after each print
  time.sleep(1)

print()

for i in range(0, 30):
  if i % 2 == 0:
    print("Even")
  else:
    print("Odd")

print()

# while loop
z = 0 
while(z < 10):
  print(z, end=" ")
  z +=1

print("\n")

user_name = "Here you can see the future"

for h in user_name:
  print(h, end=" ")
  time.sleep(1)

0 0
1 1
2 3
3 6
4 10
- - - - - - - - - -
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

0 1 2 3 4 5 6 7 8 9

H e r e   y o u   c a n   s e e   t h e   f u t u r e

**Python function**

In [12]:
def message():
  print("Message one By calling function.")

message()

def welcome_message(fname):
  print("Dear " +  fname + " welcome to the application.")

welcome_message("Negar")

def contact_info(email, phone_number):
  print("Email: " + email + "\tPhone: " + phone_number)

contact_info("panahandehpooya@gmail.com", "00123487698")

# passing multiple argument to one function.
def fav_child(*kids):
  print("the fav child of family is " + kids[1])

fav_child("Pouya", "Mohammad")

# passing arguments with the key = value syntax
def my_function(child3, child2, child1):
  print("The youngest child is " + child1)

my_function(child1="Pouya", child2="Mohammad", child3="Bozorgmehr")

# passing dictionary of arguments
def multi_func(**kid):
  print("User information: " + kid["first_name"] + " " + kid["last_name"])

multi_func(first_name="Pouya", last_name="Panahandeh")

# function with default value
def user_function(country = "Iran"):
  print("I am from " + country)

user_function()
user_function("Isfahan")
user_function("Tehran \n")


# passing list as an argument in function
def new_function(food):
  for item in food:
    print(item, end=" , ")

# creating list of fruits
fruits = ["Apple", "Orange", "Banana"]
new_function(fruits)


def return_function(x):
  return x * 5

print("\n")
print(return_function(5))

Message one By calling function.
Dear Negar welcome to the application.
Email: panahandehpooya@gmail.com	Phone: 00123487698
the fav child of family is Mohammad
The youngest child is Pouya
User information: Pouya Panahandeh
I am from Iran
I am from Isfahan
I am from Tehran

Apple , Orange , Banana ,

25

**Python List**

In [52]:
# List is a collection which is ordered and changeable.


list_one = ["esfahan", "tehran", "semnan"]
# print whole list
print(list_one)

# print specific element by their index number
print(list_one[1])

# print the last element of the list
print(list_one[-1])

list_two = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# printing element that their index number is in the interval that mentioned
print(list_two[2:4])

# change value in list by using their index
print(list_two)
list_two[1] = "moz"
print(list_two)

# Loop through list
for i in list_two:
  print(i, end="\t")

# check if an item existing in loop
if "moz" in list_two:
  print("\nmoz is one of the item in the list.")

print(len(list_two))
print(len(list_one))

# adding an element to the list
list_one.append("shiraz")
print(list_one)

# append list to another list
list_one.append(list_two)
print(list_one)

# adding element to list by using the index number
list_one.insert(1, "Isfahan")
print(list_one)

# remove element from the list
list_one.remove("Isfahan")
print(list_one)

# remove element from list by indexing number
list_one.remove(list_one[2])
print(list_one)

# deleting the element from list by their index
del list_two[1]
print(list_two)

# by using pop method, we remove the element from end of the list
list_two.pop()
print(list_two)

list_three = list_one + list_two
print(list_three)
del list_three
# print(list_three) this one return errors, because the list is doesn't exist

# clear the elements of the list and print [] (an empty list)
list_two.clear()
print(list_two)

# copy list 
list_one_copy = list_one.copy()
print(list_one_copy)

# copy list by using list()
list_four = ["Adam", "Daniel", "Bruno", "Sean", "Wadie", "Tien", "Gergo", "Gabor"]
name_list = list(list_four)
print(name_list)

# creating list by using list()
my_list = list(("Apple", "Orange", "Melon"))
print(my_list)
print(type(my_list))  # will return <class 'list'


number_list = [1, 2, 3, 4, 5, 6, 7, 8]

for z in number_list:
  name_list.append(z)

print(name_list)

# by extend we can add elements of one list at the end of the other one
list_five = [10,11,12,13,14,15]
list_six = ['a', 'b', 'c']

list_five.extend(list_six)
print(list_five)

# using the list() constructor to make a List:
country_list = list(("Norway", "Sweden", "France", "Netherland"))
print(country_list)

['esfahan', 'tehran', 'semnan']
tehran
semnan
['cherry', 'orange']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'moz', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
apple	moz	cherry	orange	kiwi	melon	mango
moz is one of the item in the list.
7
3
['esfahan', 'tehran', 'semnan', 'shiraz']
['esfahan', 'tehran', 'semnan', 'shiraz', ['apple', 'moz', 'cherry', 'orange', 'kiwi', 'melon', 'mango']]
['esfahan', 'Isfahan', 'tehran', 'semnan', 'shiraz', ['apple', 'moz', 'cherry', 'orange', 'kiwi', 'melon', 'mango']]
['esfahan', 'tehran', 'semnan', 'shiraz', ['apple', 'moz', 'cherry', 'orange', 'kiwi', 'melon', 'mango']]
['esfahan', 'tehran', 'shiraz', ['apple', 'moz', 'cherry', 'orange', 'kiwi', 'melon', 'mango']]
['apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'cherry', 'orange', 'kiwi', 'melon']
['esfahan', 'tehran', 'shiraz', ['apple', 'cherry', 'orange', 'kiwi', 'melon'], 'apple', 'cherry', 'orange', 'kiwi', 'melon']
[]
['esfahan', 'tehran', 'shiraz', []]
['Adam', 'Daniel', 'Bruno', 'Sean', 'Wadie', 'Tien', 'Gergo', 'Gabor']
['Apple', 'Orange', 'Melon']
<class 'list'>
['Adam', 'Daniel', 'Bruno', 'Sean', 'Wadie', 'Tien', 'Gergo', 'Gabor', 1, 2, 3, 4, 5, 6, 7, 8]
[10, 11, 12, 13, 14, 15, 'a', 'b', 'c']
['Norway', 'Sweden', 'France', 'Netherland']

**Python Tuples**

In [54]:
# A tuple is a collection which is ordered and unchangeable.
# In Python tuples are written with round brackets.

tuple_one = ("apple", "melon", "mango", "orange")
print(tuple_one)

# tuple are not unchangeable, it means we can not use remove, insert or etc.
# to change the value of tuple we need to make list, do the operation and turn it to tuple again

# by list() constructor we create the list from tuple
list_from_tuple = list(tuple_one)
print(list_from_tuple)

list_from_tuple.remove("orange")
print(list_from_tuple)

# use tuple(), to create tuple from list
tuple_one = tuple(list_from_tuple)
print(tuple_one)

# loop through the tuple
for item in tuple_one:
  print(item, end=" , ")
print()

# check the type and see which one is count as tuple and which not
this_tuple = ("Apple", )
print(type(this_tuple)) # return <class 'tuple'>

this_is_not_tuple = ("Melon")
print(type(this_is_not_tuple))  # return <class 'str'>, it's not tuple

tuple_maker = tuple(("Apple", "Melon", "Orange", "Mango"))
print(type(tuple_maker))
print(tuple_maker)

('apple', 'melon', 'mango', 'orange')
['apple', 'melon', 'mango', 'orange']
['apple', 'melon', 'mango']
('apple', 'melon', 'mango')
apple , melon , mango ,
<class 'tuple'>
<class 'str'>
<class 'tuple'>
('Apple', 'Melon', 'Orange', 'Mango')

**Python Set**

In [83]:
# A set is a collection which is unordered and unindexed.
# In Python sets are written with curly brackets.

set_one = {"pooya", "Mohammad", "Pari", "Masih"}
print(type(set_one)) # will print <class 'set'>

# print whole set
print(set_one)

# loop through set
for i in set_one:
  print(i, end=" , ")

print()

# return boolean if element exist in set
print("True") if "Masih" in set_one else print(false)

# return boolean value like above
print("Pari" in set_one)

set_one.add("Mahdi")
print(set_one)


set_two = {"Negar", "Ehsan", "Farnaz"}
set_one.update(set_two)
print(set_one)
print(type(set_one))
print(len(set_one))

set_one.remove("pooya")
print(set_one)

# we also can remove element by discard()
set_one.discard("Mohammad")
print(set_one)

# removin element by using pop method
set_one.pop()
print(set_one)

# we can clear set by using clear method
set_one.clear()
print(set_one)

# 
set_two = {"a", "b" , "c"}
set_three = {1, 2, 3}

# set_four = set_two + set_three we can not use this method to join two sets
set_four = set_two.union(set_three)
print(set_four)

# adding one ser to each other
set_one.update(set_two)
# because we clear the set one previously, we only see the element of set two
print(set_one)

# creating set by using set constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

<class 'set'>
{'Masih', 'pooya', 'Pari', 'Mohammad'}
Masih , pooya , Pari , Mohammad ,
True
True
{'Mohammad', 'Pari', 'Mahdi', 'Masih', 'pooya'}
{'Mohammad', 'Negar', 'Ehsan', 'Pari', 'Mahdi', 'Masih', 'pooya', 'Farnaz'}
<class 'set'>
8
{'Mohammad', 'Negar', 'Ehsan', 'Pari', 'Mahdi', 'Masih', 'Farnaz'}
{'Negar', 'Ehsan', 'Pari', 'Mahdi', 'Masih', 'Farnaz'}
{'Ehsan', 'Pari', 'Mahdi', 'Masih', 'Farnaz'}
set()
{'a', 1, 2, 3, 'b', 'c'}
{'c', 'a', 'b'}
{'cherry', 'banana', 'apple'}

**Python dictionary**

In [117]:
dict_one = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1992

}

# print whole dictionary
print(dict_one)

# printing the value of specific key
print(dict_one["model"]) 

# we can use get() to do the same thing as above
print(dict_one.get("year"))

# change the value by key
dict_one["model"] = "Focus"
print(dict_one)

for item in dict_one:
  # following line will print the key
  print(item)
  # following line will print the value
  print(dict_one[item])

print("There is another way to print the values of dictionary")
# by following command we can print all the value of dictionary
for item in dict_one.values():
  print(item)

# length of the dictionary
print(len(dict_one))

# adding new key and value into the dictionary
dict_one["color"] = "black"
print(dict_one)

# copy dictionary
car_data = dict_one.copy()
print(car_data)

# creating new dictionary by dict keyword
car_info = dict(dict_one)
print(car_info)
print(type(car_info))

# pop() element from dictionary
dict_one.pop("color")
print(dict_one)

dict_one.popitem()
print(dict_one)

# delete element from dictionary by del keyword
del dict_one["model"]
print(dict_one)

# deletin whole dictionaries elements
dict_one.clear()
print(dict_one)

dict_two = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(dict_two)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1992}
Mustang
1992
{'brand': 'Ford', 'model': 'Focus', 'year': 1992}
brand
Ford
model
Focus
year
1992
There is another way to print the values of dictionary
Ford
Focus
1992
3
{'brand': 'Ford', 'model': 'Focus', 'year': 1992, 'color': 'black'}
{'brand': 'Ford', 'model': 'Focus', 'year': 1992, 'color': 'black'}
{'brand': 'Ford', 'model': 'Focus', 'year': 1992, 'color': 'black'}
<class 'dict'>
{'brand': 'Ford', 'model': 'Focus', 'year': 1992}
{'brand': 'Ford', 'model': 'Focus'}
{'brand': 'Ford'}
{}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}